p code{
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;;
}
p img{
    width: 100%;
}
body{
    background-color: aliceblue;
}
@font-face {
    font-family: "zkqt";
    src: url(../FZQINGKBYSJF.TTF);
}
p,h2,li,h3,a{
    font-family: "zkqt";
}
.main{
    width: 60%;
    /* border: 5px black solid; */
    margin-right: 20px;
    /* margin-left: 100px; */
}
.right{
    width: 30%;
    /* border: 5px black solid; */
    /* display: fixed; */
    text-align: center;
}

article{
    font-size: 40px;
    margin: 20px;
    margin-top: 40px;
    text-align: center;
}
#icp{
    /* position: fixed; */
    /* margin: 10 auto; */
    font-size: 20px;
    bottom: 10px;
}
.footer{
    position: relative;
    width: 100%;
    bottom: 10px;
    margin-top: 60px;
    text-align: center;
}
a{
    text-decoration: none;
    border-bottom:solid 3px #1AC5D6;
    color: black;
}
a:hover{
    color: #1AC5D6;
    border-bottom:solid 3px #1AC5D6
}
#arr{
    text-decoration: none;
}

.max{
    display: flex;
    margin: 20px;
    justify-content: center;
    margin-top: 50px;
    /* width: 100%; */
}
.contente{
    display: flex;
    margin: 20px;
    justify-content: center;
    margin-top: 50px;
    /* width: 100%; */
}
.imgArr{
    position: fixed;
}
#rightAnime{
    /* width: 100%; */
    max-width: 100%;
    max-height: 700px;
}