#dis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#dis>div {
    text-align: center;
    width: 300px;
}

#dis img {
    width: 250px;
}

div>a {
    margin: 5px;
}